<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <ion-button expand="full" (click)="updateMyValue()">Click me!</ion-button>

    {{ myVariable }}
  </div>


  <div class="ion-padding">
    <button class="ion-activatable">
      A button with a bounded ripple effect
      <ion-ripple-effect></ion-ripple-effect>
    </button>
  </div>
  
</ion-content>
